/**
* Override the default colors from the @vuepress/theme-default to match the OSP-PSO style guide. Effects are global.
*/
:root {
    // accent colors
    --c-brand: #006153;
    --c-brand-light: #24776B;
    --c-text-accent: #00947F;
}

/**
* Override the default hero action button behaviour to implement delayed hover transition. Effects are global.
*/
.vp-hero-action-button {
    transition: background-color 0.3s ease, color 0.3s ease;
}
